<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
  <meta charset="utf-8">
  <meta name="_ctx" th:content="@{/}" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>通知公告修改</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}">
  <link rel="stylesheet" th:href="@{/daterangepicker/daterangepicker.css}">
  <link rel="stylesheet" th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

<style type="text/css">
	label{
		text-align: right;
	}
	#publishNew{
		margin: 10px auto;
		width:300px;
		border-radius: 5px;
		background-color: #00C0EF;
		color: #fff;
		text-align: center;
		padding: 5px;
		font-size: 1.5em;
		cursor: pointer;
	}
</style>
 </head>
<body>
<section >
<div class="box-body">
<div class="box-body table-responsive">
	<input type="hidden" name="id" id="id" th:value="${id}" value="0"/>
	<input type="hidden" name="actionurl" id="actionurl" th:value="${actionurl}" value="/"/>
<table class="table table-hover">
  <tbody>
   <tr >
     	<td>
      	 <div class="form-group">
		    <label for="name" class="col-sm-2 control-label">封面图片</label>
		    <div class="col-sm-10">
		    	<form id="fileUploadForm" style="display: none;" name="fileUploadForm" target="fileUploadFrame" method="post" enctype="multipart/form-data">
			    	<input type="file"  class="form-control" name="file" value="" id="imgfile" >
				</form>
			      <img  th:if="${#lists.isEmpty(notice) || #lists.isEmpty(notice)}" th:src="@{/images/jiahao.png}" data-toggle="tooltip" title="当前头像或更新后的头像" id="showImg" style="width: 200px;">
			      <img th:unless="${#lists.isEmpty(notice) || #lists.isEmpty(notice)}" th:src="${/images/jiahao.png}" data-toggle="tooltip" id="showImg" title="当前头像或更新后的头像"  style="width: 300px;">
		    </div>
		  </div>
		 </td>
		 <td></td>
   </tr>
   <tr>
	   <td>
		   <div class="form-group">
			   <label for="title" class="col-sm-2 control-label">标题</label>
			   <div class="col-sm-10">
				   <input type="text" class="form-control" name="author" th:if="${#lists.isEmpty(notice)}" value="" id="title" placeholder="请输入通知公告标题">
				   <input type="text" class="form-control" name="author" th:unless="${#lists.isEmpty(notice)}" th:value="${notice.title}" id="title" placeholder="请输入通知公告标题">
			   </div>
		   </div>
	   </td>
	   <td><div class="form-group">
		   <label for="type" class="col-sm-2 control-label">公告类型</label>
		   <div class="col-sm-10">
			   <input type="text" class="form-control" name="source" th:if="${#lists.isEmpty(notice)}" value="" id="type" placeholder="请输入公告类型">
			   <input type="text" class="form-control" name="source" th:unless="${#lists.isEmpty(notice)}" th:value="${notice.type}" id="type" placeholder="请输入公告类型">
		   </div>
	   </div>
	   </td>

    </tr>
    <tr>
      <td><div class="form-group">
		    <label for="lang" class="col-sm-2 control-label">语言类型</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" name="source" th:if="${#lists.isEmpty(notice)}" value="" id="lang" placeholder="请输入语言类型">
		      <input type="text" class="form-control" name="source" th:unless="${#lists.isEmpty(notice)}" th:value="${notice.lang}" id="lang" placeholder="请输入语言类型">
		    </div>
		  </div>
	  </td>

	  <td><div class="form-group">
		<label for="create_time" class="col-sm-2 control-label">发布时间</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="create_time" th:unless="${#lists.isEmpty(notice)}" th:value="${notice.create_time}" id="create_time" placeholder="请选择发布时间">
			<input type="text" class="form-control" name="create_time" th:if="${#lists.isEmpty(notice)}" value="" id="create_time" placeholder="请选择发布时间">
		</div>
	    </div>
	  </td>
    </tr>

    <tr>
      <td><div class="form-group">
		    <label for="status" class="col-sm-2 control-label">公告状态</label>
		    <div class="col-sm-10">
		   		<select name="status" id="status" class="form-control">
			      <option value="10" th:if="${#lists.isEmpty(notice)}" selected="selected" >新建</option>
			      <option value="20" th:if="${#lists.isEmpty(notice)}">发布</option>
			      <option value="30" th:if="${#lists.isEmpty(notice)}">下架</option>
			      <option value="10" th:unless="${#lists.isEmpty(notice)}" th:selected="${notice.lang == '10'}">新建</option>
			      <option value="20" th:unless="${#lists.isEmpty(notice)}" th:selected="${notice.lang == '20'}" >发布</option>
			      <option value="30" th:unless="${#lists.isEmpty(notice)}" th:selected="${notice.lang == '30'}" >下架</option>
			    </select>
		    
		    </div>
		  </div>
		 </td>
    </tr>
   
  </tbody>
</table>
</div> 
<textarea id="myTextarea" th:if="${#lists.isEmpty(notice)}" ></textarea>
<textarea id="myTextarea" th:unless="${#lists.isEmpty(notice)}" th:text="${notice.content}"></textarea>
</div>

<div id="publishNew" >保存</div>
               
</section>

    
<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>	
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/tinymce/tinymce.min.js}"></script>
<script th:src="@{/daterangepicker/moment.min.js}"></script>
<script th:src="@{/daterangepicker/daterangepicker.js}"></script>
<script type="text/javascript"  th:inline="javascript">

var baseURL=[[${homeUrl}]];

var options = {};
options.singleDatePicker=true;
options.timePicker=true;
options.timePickerSeconds=true;
options.timePicker24Hour=true;
options.showDropdowns=true;
options.autoApply=true;//只有在不显示时间的时候起作用
options.showDropdowns=true;
options.locale= {
		format: 'YYYY-MM-DD HH:mm:ss',
		applyLabel: "应用",
		cancelLabel: "取消",
		resetLabel: "重置",
		daysOfWeek: ['日', '一', '二', '三', '四', '五','六'],
		monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
	}
	tinymce.init({
				selector : '#myTextarea',
				theme : 'modern',
				language : 'zh_CN',
				plugins : [
						'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
						'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
						'save table contextmenu directionality emoticons  paste textcolor ' ],
				toolbar : 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor fullscreen fontsizeselect ',
				images_upload_handler: function (blobInfo, success, failure) {
					uploadFile(blobInfo,success,failure);
					  },
				convert_urls: false,
				fontsize_formats: "8pt 10pt 12pt 14pt 16pt 18pt 20pt 24pt 30pt 36pt"
			});
	
	
	//tinymce 图片上传
	function uploadFile(blobInfo,success,failure){
		var xhr, formData;
	    xhr = new XMLHttpRequest();
	    xhr.withCredentials = false;
	    xhr.open('POST', _ctx+'/upload/uploadImg');
	    xhr.onload = function() {
	      var json;
	      if (xhr.status != 200) {
	        failure('HTTP Error: ' + xhr.status);
	        return;
	      }
	      json = JSON.parse(xhr.responseText);
	      if(json.status != "200"){
	    	  failure('图片上传错误: 返回值:'+json);
	      }
	      success(baseURL+json.data);
	    };
	    formData = new FormData();
	    formData.append('file', blobInfo.blob(),blobInfo.filename());
	    xhr.send(formData);
	}

	//校验参数
	function checkParameter(content,title,create_time,type,lang){
		//TODO 校验
		return true;
	}
	//提交请求
	function submitNew(id,actionurl,title,type,lang,createTime,content){
		$.ajax({
			type:"POST",
			url:_ctx+actionurl,
			dataType:"json",
			data:{id:id,title:title,type:type,lang:lang,createTime:createTime,content:content},
			cache:false,
			success: function(data){
				console.log("data:",data);
				if(data.status == "200"){
					window.location.href=_ctx+"/notice/list";
				}
			}
		});
	}

$(function(){
	//日期
	$('#create_time').daterangepicker(options);
	
	//发布
	$("#publishNew").click(function(){
		var id=$("#id").val();
		var actionurl=$("#actionurl").val();
		// 文本编辑器的内容
		var content = tinyMCE.activeEditor.getContent();
		var title = $("#title").val();
		var type  = $("#type").val();
		var lang = $("lang").val();
		var createTime = $("#create_time").val();

		if(checkParameter(content,title,createTime,type,lang)){
			submitNew(id,actionurl,title,type,lang,createTime,content);
		}
	});
	
	
	//图片上传
	$("#showImg").click(function(){
		 $("#imgfile").click(); 
	     $("#imgfile").on("change",function(){
	    	 var form = new FormData(document.getElementById("fileUploadForm"));
	    	 $.ajax({
		    	  url:_ctx+"/upload/uploadImg",
		    	  type:"post",
		    	  data:form,
		    	  processData:false,
		    	  contentType:false,
		    	  success:function(data){
		    		  console.log("data:",data);
		    	      $("#showImg").attr("src",data.data);
		    	  },
		    	  error:function(e){
		    	      alert("图片上传错误！！！");
		    	  }
	    	 });   
	     });
	});
	
})
</script>
</body>
</html>
