
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="include/css-head :: css-head">
</head>
<body>
<!-- Content Header (Page header) -->
<section class="content-header">
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 业务记录</a></li>
    <li class="active">统计数据</li>
  </ol>
  <br/>
</section>

<!-- Main content -->
<section class="content">
	 <div class="box">
            <div class="box-header">
              <h3 class="box-title">统计列表</h3>
              <br><br>
				<!--
              <button th:if="${QX.add == '1' && QX.query == '1' }" class="btn btn-success btn-sm" id="addItem"><i class="fa fa-plus"></i> &nbsp;&nbsp;添加</button>
              -->
				<div class="search">
					<div class="input-group" style="float: right;width: 300px;">
						<input type="text" class="form-control" id="keyword" th:value="${keyword}" placeholder="请输入关键字">
						<span class="input-group-addon searcher"><i class="fa fa-search"></i> 搜素</span>
					</div>
				</div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <div class="table-responsive">
              <table id="menuList" class="table table-bordered table-striped">
                <thead>
	                <tr>
	                  <th>序号</th>
						<th>会员账号</th>
						<th>日期</th>
						<th>子链类型</th>
					  <th>释放数据</th>
	                </tr>
                </thead>
                <tbody>
                <tr th:if="${QX.query == '1' }" th:each="item,stat :${ dailyDetail }" >
					<td th:text="${stat.count}">1</td>
					<th th:text="${item.user_name }">用户ID</th>
					<th th:text="${item.create_time }">用户ID</th>
					<th th:switch="${item.coin_code }">
							  <span th:case="free">自由子链</span>
							  <span th:case="lock">锁定子链</span>
						  </th>
		                  <th th:text="${item.amount }">用户ID</th>

                </tr>
                <tr th:unless="${QX.query == '1' }" >
                	<td colspan="7" rowspan="1" align="center">
						<h2>您无权限查看该页面</h2>
                	</td>
                </tr>
                </tbody>
                </table>
            </div>

			</div>
		 <ul style="float: right;" id='mypage' th:if="${page.pages > 1}" class="pagination"></ul>
</section>

<div class="modal fade" id="itemModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="modelHead">添加</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<input type="hidden" name="id" id="id" value="0"/>
						<input type="hidden" name="actionurl" value="/"/>
						
						  <div class="form-group">
						    <label for="userId" class="col-sm-2 control-label">用户ID</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="userId" value="" id="userId" placeholder="请输入用户ID">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="coinCode" class="col-sm-2 control-label">free -- 自由子链，lock -- 锁定子链，</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="coinCode" value="" id="coinCode" placeholder="请输入free -- 自由子链，lock -- 锁定子链，">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="amount" class="col-sm-2 control-label">释放数量</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="amount" value="" id="amount" placeholder="请输入释放数量">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="detailId" class="col-sm-2 control-label">释放的业务ID</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="detailId" value="" id="detailId" placeholder="请输入释放的业务ID">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="detailType" class="col-sm-2 control-label">释放的业务类型：1--每日释放，2 --- 复投奖励</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="detailType" value="" id="detailType" placeholder="请输入释放的业务类型：1--每日释放，2 --- 复投奖励">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="unifyId" class="col-sm-2 control-label">统计ID</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="unifyId" value="" id="unifyId" placeholder="请输入统计ID">
						    </div>
						  </div>
					 </form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-success" id="submitBtn" >添加</button>
				</div>
			</div>
		</div>
	</div>

<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>	
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-paginator.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:inline="javascript">
	$(function(){
        var element = $('#mypage');
        options = {
            bootstrapMajorVersion:3, //对应的bootstrap版本
            currentPage: [[${page.pageNum }]], //当前页数
            numberOfPages:[[${page.pageSize }]], //每页的数量
            totalPages:[[${page.pages }]], //总页数，这里是用的EL表达式，获取从后台传过来的值
            itemTexts: function (type, page, current) {//设置显示的样式，默认是箭头
                switch (type) {
                    case "first":
                        return "首页";
                    case "prev":
                        return "上一页";
                    case "next":
                        return "下一页";
                    case "last":
                        return "末页";
                    case "page":
                        return page;
                }
            },
            //点击事件
            onPageClicked: function (event, originalEvent, type, page) {
                skipPage(page);
            }
        };
        element.bootstrapPaginator(options);

        
        $("#addItem").click(function(){
            $("input[name='id']").val("");
            $("input[name='actionurl']").val("/dailyDetail/add");
            $("#modelHead").text("添加");
            $("#submitBtn").text("添加");
            setData("","","","","","","","","");
            $("#itemModal").modal("show");
        });

        //提交按钮
        $("#submitBtn").click(function(){
            var id = $("input[name='id']").val();
            var url = $("input[name='actionurl']").val();
            var id = $("#id").val();
            var userId = $("#userId").val();
            var coinCode = $("#coinCode").val();
            var amount = $("#amount").val();
            var detailId = $("#detailId").val();
            var detailType = $("#detailType").val();
            var unifyId = $("#unifyId").val();
            var createBy = $("#createBy").val();
            var createTime = $("#createTime").val();
            

            if(checkData(id ,userId ,coinCode ,amount ,detailId ,detailType ,unifyId ,createBy ,createTime )){
                $.ajax({
                    type:"POST",
                    url:_ctx+url,
                    cache:false,
                    data:{id:id,userId:userId,coinCode:coinCode,amount:amount,detailId:detailId,detailType:detailType,unifyId:unifyId,createBy:createBy,createTime:createTime, time:new Date().getTime()},
                    dataType:"json",
                    success:function(data){
                        if(data.status == "200"){
                            window.location.href=window.location.href;
                        }else{
                            alert(data.message);
                        }
                    }
                });
                $("#itemModal").modal("hide");
            }

        });



        //搜索
        $(".searcher").click(function(){
            skipPage("");
        });
	})
	
	
function setData(  id , userId , coinCode , amount , detailId , detailType , unifyId , createBy , createTime ){
   	 $("#id").val(id);
   	 $("#userId").val(userId);
   	 $("#coinCode").val(coinCode);
   	 $("#amount").val(amount);
   	 $("#detailId").val(detailId);
   	 $("#detailType").val(detailType);
   	 $("#unifyId").val(unifyId);
   	 $("#createBy").val(createBy);
   	 $("#createTime").val(createTime);
}

function skipPage(page){
    var keyword = $("#keyword").val();
    var url="/dailyDetail/list";
    if(page != ""){
        url =url+ "/"+page+"?t=1";
    }else {
        url = url + "?t=1";
    }
    if(keyword != ""){
        url =url+"&keyword="+keyword;
    }
    window.location.href=_ctx+url;
}
//编辑商户
function edit(id){
    $("#modelHead").text("编辑");
    $("#submitBtn").text("编辑");
    $("input[name='id']").val(id);
    $("input[name='actionurl']").val("/dailyDetail/edit");
    $.get(_ctx+"/dailyDetail/detail",{t:new Date().getTime(),id:id},function(data){
        console.log("data:",data);
        if(data.status == "200"){
            var item = data.data;
            console.log("item:",item);
            setData( item.id , item.user_id , item.coin_code , item.amount , item.detail_id , item.detail_type , item.unify_id , item.create_by , item.create_time )
        }else{
            alert(data.message);
        }
    })
    $("#itemModal").modal("show");
}
//删除
function del(id){
    if(confirm("您确定要删除这条记录吗？"))
        $.post(_ctx+"/dailyDetail/del",{t:new Date().getTime(),id:id},function(data){
            if(data.status == "200"){
                window.location.href=window.location.href;
            }else{
                alert(data.message);
            }
        });
}

//校验
function checkData( id , userId , coinCode , amount , detailId , detailType , unifyId , createBy , createTime ){
    if(id == ""){
        alert("id不能为空");
        $("input[name='id']").focus();
        return false;
    }
    if(userId == ""){
        alert("用户ID不能为空");
        $("input[name='userId']").focus();
        return false;
    }
    if(coinCode == ""){
        alert("free -- 自由子链，lock -- 锁定子链，不能为空");
        $("input[name='coinCode']").focus();
        return false;
    }
    if(amount == ""){
        alert("释放数量不能为空");
        $("input[name='amount']").focus();
        return false;
    }
    if(detailId == ""){
        alert("释放的业务ID不能为空");
        $("input[name='detailId']").focus();
        return false;
    }
    if(detailType == ""){
        alert("释放的业务类型：1--每日释放，2 --- 复投奖励不能为空");
        $("input[name='detailType']").focus();
        return false;
    }
    if(unifyId == ""){
        alert("统计ID不能为空");
        $("input[name='unifyId']").focus();
        return false;
    }
    if(createBy == ""){
        alert("createBy不能为空");
        $("input[name='createBy']").focus();
        return false;
    }
    if(createTime == ""){
        alert("createTime不能为空");
        $("input[name='createTime']").focus();
        return false;
    }
   
    return true;
}
</script>
</body>
</html>
