
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="include/css-head :: css-head">
</head>
<body>
<!-- Content Header (Page header) -->
<section class="content-header">
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 系统配置</a></li>
    <li class="active">规则配置</li>
  </ol>
  <br/>
</section>

<!-- Main content -->
<section class="content">
	 <div class="box">
            <div class="box-header">
              <h3 class="box-title">配置列表</h3>
              <br><br>
              <button th:if="${QX.add == '1' && QX.query == '1' }" class="btn btn-success btn-sm" id="addItem"><i class="fa fa-plus"></i> &nbsp;&nbsp;添加</button>
				<div class="search">
					<div class="input-group" style="float: right;width: 300px;">
						<input type="text" class="form-control" id="keyword" th:value="${keyword}" placeholder="请输入关键字">
						<span class="input-group-addon searcher"><i class="fa fa-search"></i> 搜索</span>
					</div>
				</div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <div class="table-responsive">
              <table id="menuList" class="table table-bordered table-striped">
                <thead>
	                <tr>
	                  <th>序号</th>
		                  <th>userId</th>
		                  <th>与其交易的用户ID</th>
		                  <th>币种</th>
		                  <th>交易数量</th>
		                  <th>对应的详细记录id</th>
		                  <th>交易类型，0转出，1转入</th>
		                  <th>交易类型：1 -- 转账，2 -- 复投，3 -- 采集，4 -- 释放，5 -- 加速释放,6 -- 充值,7--众筹,8---伞下收益</th>
		                  <th>转出之前余额</th>
		                  <th>此笔账单完成之后的活期余额</th>
		                  <th>时间</th>
	                  <th>操作</th>
	                </tr>
                </thead>
                <tbody>
                <tr th:if="${QX.query == '1' }" th:each="item,stat :${ userAccountDetail }" >
                  <td th:text="${stat.count}">1</td>
		                  <th th:text="${item.user_id }">userId</th>
		                  <th th:text="${item.trans_user_id }">与其交易的用户ID</th>
		                  <th th:text="${item.code }">币种</th>
		                  <th th:text="${item.amount }">交易数量</th>
		                  <th th:text="${item.detail_id }">对应的详细记录id</th>
		                  <th th:text="${item.state }">交易类型，0转出，1转入</th>
		                  <th th:text="${item.detail_type }">交易类型：1 -- 转账，2 -- 复投，3 -- 采集，4 -- 释放，5 -- 加速释放,6 -- 充值,7--众筹,8---伞下收益</th>
		                  <th th:text="${item.befor_money }">转出之前余额</th>
		                  <th th:text="${item.after_money }">此笔账单完成之后的活期余额</th>
                  <td>
                  	 <span th:unless="${QX.add == '1' || QX.del == '1' || QX.edit == '1' || QX.query == '1' }" ><i class="fa fa-lock"></i> 无权限</span>
                  	 <span data-toggle="tooltip" data-placement="left" title="修改" th:if="${QX.edit == '1' }" class="btn btn-xs btn-info" th:onclick="'edit(\''+${item.id}+'\');'"><i class="fa fa-edit"></i></span>
                  	 <span data-toggle="tooltip" data-placement="right" title="删除" th:if="${QX.del == '1' }" class="btn btn-xs btn-danger" th:onclick="'del(\''+${item.id}+'\');'"><i class="fa fa-trash-o"></i></span>
                  </td>
                </tr>
                <tr th:unless="${QX.query == '1' }" >
                	<td colspan="7" rowspan="1" align="center">
						<h2>您无权限查看该页面</h2>
                	</td>
                </tr>
                </tbody>
                </table>
            </div>

			</div>
		 <ul style="float: right;" id='mypage' th:if="${page.pages > 1}" class="pagination"></ul>
</section>

<div class="modal fade" id="itemModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="modelHead">添加</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<input type="hidden" name="id" id="id" value="0"/>
						<input type="hidden" name="actionurl" value="/"/>
						
						  <div class="form-group">
						    <label for="userId" class="col-sm-2 control-label">userId</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="userId" value="" id="userId" placeholder="请输入userId">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="transUserId" class="col-sm-2 control-label">与其交易的用户ID</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="transUserId" value="" id="transUserId" placeholder="请输入与其交易的用户ID">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="code" class="col-sm-2 control-label">币种</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="code" value="" id="code" placeholder="请输入币种">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="amount" class="col-sm-2 control-label">交易数量</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="amount" value="" id="amount" placeholder="请输入交易数量">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="detailId" class="col-sm-2 control-label">对应的详细记录id</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="detailId" value="" id="detailId" placeholder="请输入对应的详细记录id">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="state" class="col-sm-2 control-label">交易类型，0转出，1转入</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="state" value="" id="state" placeholder="请输入交易类型，0转出，1转入">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="detailType" class="col-sm-2 control-label">交易类型：1 -- 转账，2 -- 复投，3 -- 采集，4 -- 释放，5 -- 加速释放,6 -- 充值,7--众筹,8---伞下收益</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="detailType" value="" id="detailType" placeholder="请输入交易类型：1 -- 转账，2 -- 复投，3 -- 采集，4 -- 释放，5 -- 加速释放,6 -- 充值,7--众筹,8---伞下收益">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="beforMoney" class="col-sm-2 control-label">转出之前余额</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="beforMoney" value="" id="beforMoney" placeholder="请输入转出之前余额">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="afterMoney" class="col-sm-2 control-label">此笔账单完成之后的活期余额</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="afterMoney" value="" id="afterMoney" placeholder="请输入此笔账单完成之后的活期余额">
						    </div>
						  </div>
					 </form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-success" id="submitBtn" >添加</button>
				</div>
			</div>
		</div>
	</div>

<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>	
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-paginator.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:inline="javascript">
	$(function(){
        var element = $('#mypage');
        options = {
            bootstrapMajorVersion:3, //对应的bootstrap版本
            currentPage: [[${page.pageNum }]], //当前页数
            numberOfPages:[[${page.pageSize }]], //每页的数量
            totalPages:[[${page.pages }]], //总页数，这里是用的EL表达式，获取从后台传过来的值
            itemTexts: function (type, page, current) {//设置显示的样式，默认是箭头
                switch (type) {
                    case "first":
                        return "首页";
                    case "prev":
                        return "上一页";
                    case "next":
                        return "下一页";
                    case "last":
                        return "末页";
                    case "page":
                        return page;
                }
            },
            //点击事件
            onPageClicked: function (event, originalEvent, type, page) {
                skipPage(page);
            }
        };
        element.bootstrapPaginator(options);

        
        $("#addItem").click(function(){
            $("input[name='id']").val("");
            $("input[name='actionurl']").val("/userAccountDetail/add");
            $("#modelHead").text("添加");
            $("#submitBtn").text("添加");
            setData("","","","","","","","","","","","","","","");
            $("#itemModal").modal("show");
        });

        //提交按钮
        $("#submitBtn").click(function(){
            var id = $("input[name='id']").val();
            var url = $("input[name='actionurl']").val();
            var id = $("#id").val();
            var userId = $("#userId").val();
            var transUserId = $("#transUserId").val();
            var code = $("#code").val();
            var amount = $("#amount").val();
            var detailId = $("#detailId").val();
            var state = $("#state").val();
            var detailType = $("#detailType").val();
            var beforMoney = $("#beforMoney").val();
            var afterMoney = $("#afterMoney").val();
            var isDeleted = $("#isDeleted").val();
            var createTime = $("#createTime").val();
            var createBy = $("#createBy").val();
            var modifyTime = $("#modifyTime").val();
            var modifyBy = $("#modifyBy").val();
            

            if(checkData(id ,userId ,transUserId ,code ,amount ,detailId ,state ,detailType ,beforMoney ,afterMoney ,isDeleted ,createTime ,createBy ,modifyTime ,modifyBy )){
                $.ajax({
                    type:"POST",
                    url:_ctx+url,
                    cache:false,
                    data:{id:id,userId:userId,transUserId:transUserId,code:code,amount:amount,detailId:detailId,state:state,detailType:detailType,beforMoney:beforMoney,afterMoney:afterMoney,isDeleted:isDeleted,createTime:createTime,createBy:createBy,modifyTime:modifyTime,modifyBy:modifyBy, time:new Date().getTime()},
                    dataType:"json",
                    success:function(data){
                        if(data.status == "200"){
                            window.location.href=window.location.href;
                        }else{
                            alert(data.message);
                        }
                    }
                });
                $("#itemModal").modal("hide");
            }

        });



        //搜索
        $(".searcher").click(function(){
            skipPage("");
        });
	})
	
	
function setData(  id , userId , transUserId , code , amount , detailId , state , detailType , beforMoney , afterMoney , isDeleted , createTime , createBy , modifyTime , modifyBy ){
   	 $("#id").val(id);
   	 $("#userId").val(userId);
   	 $("#transUserId").val(transUserId);
   	 $("#code").val(code);
   	 $("#amount").val(amount);
   	 $("#detailId").val(detailId);
   	 $("#state").val(state);
   	 $("#detailType").val(detailType);
   	 $("#beforMoney").val(beforMoney);
   	 $("#afterMoney").val(afterMoney);
   	 $("#isDeleted").val(isDeleted);
   	 $("#createTime").val(createTime);
   	 $("#createBy").val(createBy);
   	 $("#modifyTime").val(modifyTime);
   	 $("#modifyBy").val(modifyBy);
}

function skipPage(page){
    var keyword = $("#keyword").val();
    var url="/userAccountDetail/list";
    if(page != ""){
        url =url+ "/"+page+"?t=1";
    }else {
        url = url + "?t=1";
    }
    if(keyword != ""){
        url =url+"&keyword="+keyword;
    }
    window.location.href=_ctx+url;
}
//编辑商户
function edit(id){
    $("#modelHead").text("编辑");
    $("#submitBtn").text("编辑");
    $("input[name='id']").val(id);
    $("input[name='actionurl']").val("/userAccountDetail/edit");
    $.get(_ctx+"/userAccountDetail/detail",{t:new Date().getTime(),id:id},function(data){
        console.log("data:",data);
        if(data.status == "200"){
            var item = data.data;
            console.log("item:",item);
            setData( item.id , item.user_id , item.trans_user_id , item.code , item.amount , item.detail_id , item.state , item.detail_type , item.befor_money , item.after_money , item.is_deleted , item.create_time , item.create_by , item.modify_time , item.modify_by )
        }else{
            alert(data.message);
        }
    })
    $("#itemModal").modal("show");
}
//删除
function del(id){
    if(confirm("您确定要删除这条记录吗？"))
        $.post(_ctx+"/userAccountDetail/del",{t:new Date().getTime(),id:id},function(data){
            if(data.status == "200"){
                window.location.href=window.location.href;
            }else{
                alert(data.message);
            }
        });
}

//校验
function checkData( id , userId , transUserId , code , amount , detailId , state , detailType , beforMoney , afterMoney , isDeleted , createTime , createBy , modifyTime , modifyBy ){
    if(id == ""){
        alert("id不能为空");
        $("input[name='id']").focus();
        return false;
    }
    if(userId == ""){
        alert("userId不能为空");
        $("input[name='userId']").focus();
        return false;
    }
    if(transUserId == ""){
        alert("与其交易的用户ID不能为空");
        $("input[name='transUserId']").focus();
        return false;
    }
    if(code == ""){
        alert("币种不能为空");
        $("input[name='code']").focus();
        return false;
    }
    if(amount == ""){
        alert("交易数量不能为空");
        $("input[name='amount']").focus();
        return false;
    }
    if(detailId == ""){
        alert("对应的详细记录id不能为空");
        $("input[name='detailId']").focus();
        return false;
    }
    if(state == ""){
        alert("交易类型，0转出，1转入不能为空");
        $("input[name='state']").focus();
        return false;
    }
    if(detailType == ""){
        alert("交易类型：1 -- 转账，2 -- 复投，3 -- 采集，4 -- 释放，5 -- 加速释放,6 -- 充值,7--众筹,8---伞下收益不能为空");
        $("input[name='detailType']").focus();
        return false;
    }
    if(beforMoney == ""){
        alert("转出之前余额不能为空");
        $("input[name='beforMoney']").focus();
        return false;
    }
    if(afterMoney == ""){
        alert("此笔账单完成之后的活期余额不能为空");
        $("input[name='afterMoney']").focus();
        return false;
    }
    if(isDeleted == ""){
        alert("isDeleted不能为空");
        $("input[name='isDeleted']").focus();
        return false;
    }
    if(createTime == ""){
        alert("时间不能为空");
        $("input[name='createTime']").focus();
        return false;
    }
    if(createBy == ""){
        alert("createBy不能为空");
        $("input[name='createBy']").focus();
        return false;
    }
    if(modifyTime == ""){
        alert("modifyTime不能为空");
        $("input[name='modifyTime']").focus();
        return false;
    }
    if(modifyBy == ""){
        alert("modifyBy不能为空");
        $("input[name='modifyBy']").focus();
        return false;
    }
   
    return true;
}
</script>
</body>
</html>
