
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="include/css-head :: css-head">
</head>
<body>
<!-- Content Header (Page header) -->
<section class="content-header">
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 系统配置</a></li>
    <li class="active">规则配置</li>
  </ol>
  <br/>
</section>

<!-- Main content -->
<section class="content">
	 <div class="box">
            <div class="box-header">
              <h3 class="box-title">配置列表</h3>
              <br><br>
              <button th:if="${QX.add == '1' && QX.query == '1' }" class="btn btn-success btn-sm" id="addItem"><i class="fa fa-plus"></i> &nbsp;&nbsp;添加</button>
				<div class="search">
					<div class="input-group" style="float: right;width: 300px;">
						<input type="text" class="form-control" id="keyword" th:value="${keyword}" placeholder="请输入关键字">
						<span class="input-group-addon searcher"><i class="fa fa-search"></i> 搜素</span>
					</div>
				</div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <div class="table-responsive">
              <table id="menuList" class="table table-bordered table-striped">
                <thead>
	                <tr>
	                  <th>序号</th>
		                  <th>站内信ID</th>
		                  <th>title</th>
		                  <th>内容</th>
		                  <th>语言： zh_CN -- 中文，zh_TW -- 繁体，en_US -- 英文，ko_KR -- 韩文，ja_JP 日文</th>
		                  <th>createTime</th>
	                  <th>操作</th>
	                </tr>
                </thead>
                <tbody>
                <tr th:if="${QX.query == '1' }" th:each="item,stat :${ messageLang }" >
                  <td th:text="${stat.count}">1</td>
		                  <th th:text="${item.message_id }">站内信ID</th>
		                  <th th:text="${item.title }">title</th>
		                  <th th:text="${item.content }">内容</th>
		                  <th th:text="${item.lang }">语言： zh_CN -- 中文，zh_TW -- 繁体，en_US -- 英文，ko_KR -- 韩文，ja_JP 日文</th>
                  <td>
                  	 <span th:unless="${QX.add == '1' || QX.del == '1' || QX.edit == '1' || QX.query == '1' }" ><i class="fa fa-lock"></i> 无权限</span>
                  	 <span data-toggle="tooltip" data-placement="left" title="修改" th:if="${QX.edit == '1' }" class="btn btn-xs btn-info" th:onclick="'edit(\''+${item.id}+'\');'"><i class="fa fa-edit"></i></span>
                  	 <span data-toggle="tooltip" data-placement="right" title="删除" th:if="${QX.del == '1' }" class="btn btn-xs btn-danger" th:onclick="'del(\''+${item.id}+'\');'"><i class="fa fa-trash-o"></i></span>
                  </td>
                </tr>
                <tr th:unless="${QX.query == '1' }" >
                	<td colspan="7" rowspan="1" align="center">
						<h2>您无权限查看该页面</h2>
                	</td>
                </tr>
                </tbody>
                </table>
            </div>

			</div>
		 <ul style="float: right;" id='mypage' th:if="${page.pages > 1}" class="pagination"></ul>
</section>

<div class="modal fade" id="itemModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="modelHead">添加</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<input type="hidden" name="id" id="id" value="0"/>
						<input type="hidden" name="actionurl" value="/"/>
						
						  <div class="form-group">
						    <label for="messageId" class="col-sm-2 control-label">站内信ID</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="messageId" value="" id="messageId" placeholder="请输入站内信ID">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="title" class="col-sm-2 control-label">title</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="title" value="" id="title" placeholder="请输入title">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="content" class="col-sm-2 control-label">内容</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="content" value="" id="content" placeholder="请输入内容">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="lang" class="col-sm-2 control-label">语言： zh_CN -- 中文，zh_TW -- 繁体，en_US -- 英文，ko_KR -- 韩文，ja_JP 日文</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="lang" value="" id="lang" placeholder="请输入语言： zh_CN -- 中文，zh_TW -- 繁体，en_US -- 英文，ko_KR -- 韩文，ja_JP 日文">
						    </div>
						  </div>
					 </form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-success" id="submitBtn" >添加</button>
				</div>
			</div>
		</div>
	</div>

<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>	
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-paginator.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:inline="javascript">
	$(function(){
        var element = $('#mypage');
        options = {
            bootstrapMajorVersion:3, //对应的bootstrap版本
            currentPage: [[${page.pageNum }]], //当前页数
            numberOfPages:[[${page.pageSize }]], //每页的数量
            totalPages:[[${page.pages }]], //总页数，这里是用的EL表达式，获取从后台传过来的值
            itemTexts: function (type, page, current) {//设置显示的样式，默认是箭头
                switch (type) {
                    case "first":
                        return "首页";
                    case "prev":
                        return "上一页";
                    case "next":
                        return "下一页";
                    case "last":
                        return "末页";
                    case "page":
                        return page;
                }
            },
            //点击事件
            onPageClicked: function (event, originalEvent, type, page) {
                skipPage(page);
            }
        };
        element.bootstrapPaginator(options);

        
        $("#addItem").click(function(){
            $("input[name='id']").val("");
            $("input[name='actionurl']").val("/messageLang/add");
            $("#modelHead").text("添加");
            $("#submitBtn").text("添加");
            setData("","","","","","","","");
            $("#itemModal").modal("show");
        });

        //提交按钮
        $("#submitBtn").click(function(){
            var id = $("input[name='id']").val();
            var url = $("input[name='actionurl']").val();
            var id = $("#id").val();
            var messageId = $("#messageId").val();
            var title = $("#title").val();
            var content = $("#content").val();
            var isDeleted = $("#isDeleted").val();
            var lang = $("#lang").val();
            var createBy = $("#createBy").val();
            var createTime = $("#createTime").val();
            

            if(checkData(id ,messageId ,title ,content ,isDeleted ,lang ,createBy ,createTime )){
                $.ajax({
                    type:"POST",
                    url:_ctx+url,
                    cache:false,
                    data:{id:id,messageId:messageId,title:title,content:content,isDeleted:isDeleted,lang:lang,createBy:createBy,createTime:createTime, time:new Date().getTime()},
                    dataType:"json",
                    success:function(data){
                        if(data.status == "200"){
                            window.location.href=window.location.href;
                        }else{
                            alert(data.message);
                        }
                    }
                });
                $("#itemModal").modal("hide");
            }

        });



        //搜索
        $(".searcher").click(function(){
            skipPage("");
        });
	})
	
	
function setData(  id , messageId , title , content , isDeleted , lang , createBy , createTime ){
   	 $("#id").val(id);
   	 $("#messageId").val(messageId);
   	 $("#title").val(title);
   	 $("#content").val(content);
   	 $("#isDeleted").val(isDeleted);
   	 $("#lang").val(lang);
   	 $("#createBy").val(createBy);
   	 $("#createTime").val(createTime);
}

function skipPage(page){
    var keyword = $("#keyword").val();
    var url="/messageLang/list";
    if(page != ""){
        url =url+ "/"+page+"?t=1";
    }else {
        url = url + "?t=1";
    }
    if(keyword != ""){
        url =url+"&keyword="+keyword;
    }
    window.location.href=_ctx+url;
}
//编辑商户
function edit(id){
    $("#modelHead").text("编辑");
    $("#submitBtn").text("编辑");
    $("input[name='id']").val(id);
    $("input[name='actionurl']").val("/messageLang/edit");
    $.get(_ctx+"/messageLang/detail",{t:new Date().getTime(),id:id},function(data){
        console.log("data:",data);
        if(data.status == "200"){
            var item = data.data;
            console.log("item:",item);
            setData( item.id , item.message_id , item.title , item.content , item.is_deleted , item.lang , item.create_by , item.create_time )
        }else{
            alert(data.message);
        }
    })
    $("#itemModal").modal("show");
}
//删除
function del(id){
    if(confirm("您确定要删除这条记录吗？"))
        $.post(_ctx+"/messageLang/del",{t:new Date().getTime(),id:id},function(data){
            if(data.status == "200"){
                window.location.href=window.location.href;
            }else{
                alert(data.message);
            }
        });
}

//校验
function checkData( id , messageId , title , content , isDeleted , lang , createBy , createTime ){
    if(id == ""){
        alert("id不能为空");
        $("input[name='id']").focus();
        return false;
    }
    if(messageId == ""){
        alert("站内信ID不能为空");
        $("input[name='messageId']").focus();
        return false;
    }
    if(title == ""){
        alert("title不能为空");
        $("input[name='title']").focus();
        return false;
    }
    if(content == ""){
        alert("内容不能为空");
        $("input[name='content']").focus();
        return false;
    }
    if(isDeleted == ""){
        alert("Y/N不能为空");
        $("input[name='isDeleted']").focus();
        return false;
    }
    if(lang == ""){
        alert("语言： zh_CN -- 中文，zh_TW -- 繁体，en_US -- 英文，ko_KR -- 韩文，ja_JP 日文不能为空");
        $("input[name='lang']").focus();
        return false;
    }
    if(createBy == ""){
        alert("createBy不能为空");
        $("input[name='createBy']").focus();
        return false;
    }
    if(createTime == ""){
        alert("createTime不能为空");
        $("input[name='createTime']").focus();
        return false;
    }
   
    return true;
}
</script>
</body>
</html>
