
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8">
	<meta name="_ctx" th:content="@{/}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}">
	<link rel="stylesheet" th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}">
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!-- Google Font -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
	<style>
		.search{
			float: right;
		}
		.search>.selectbox{
			width: 300px;float: right;
			margin-right: 20px;
		}
		.search>.selectbox>label{
			float: left;display: block;width: 100px;text-align: right;height: 35px;line-height: 30px;padding-right: 10px;
		}
		.search>.selectbox>select{
			width:200px;float: right;
		}
		.searcher{
			cursor: pointer;
		}

		@media (min-width: 768px){
			.modal-dialog {
				width: 800px;
				margin: 30px auto;
			}
		}

	</style>
</head>
<body>
<!-- Content Header (Page header) -->
<section class="content-header">
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 系统管理</a></li>
    <li class="active">COIN管理</li>
  </ol>
  <br/>
</section>

<!-- Main content -->
<section class="content">
	 <div class="box">
            <div class="box-header">
              <h3 class="box-title">COIN管理</h3>
              <br><br>
              <button th:if="${QX.add == '1' && QX.query == '1' }" class="btn btn-success btn-sm" id="addItem"><i class="fa fa-plus"></i> &nbsp;&nbsp;添加</button>
				<div class="search">
					<div class="input-group" style="float: right;width: 300px;">
						<input type="text" class="form-control" id="keyword" th:value="${keyword}" placeholder="请输入名称或编码">
						<span class="input-group-addon searcher"><i class="fa fa-search"></i> 搜索</span>
					</div>
				</div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <div class="table-responsive">
              <table id="menuList" class="table table-bordered table-striped">
                <thead>
	                <tr>
	                  <th>序号</th>
		                  <th>名称</th>
		                  <th>编码</th>
		                  <th>状态</th>
	                  <th width="10%">操作</th>
	                </tr>
                </thead>
                <tbody>
                <tr th:if="${QX.query == '1' }" th:each="item,stat :${ coinInfo }" >
                  <td th:text="${stat.count}">1</td>
		                  <th th:text="${item.name }">币种名称</th>
		                  <th th:text="${item.code }">币种编码，如：BTC</th>
		                  <th th:text="${item.status }">状态</th>
                  <td>
                  	 <span th:unless="${QX.add == '1' || QX.del == '1' || QX.edit == '1' || QX.query == '1' }" ><i class="fa fa-lock"></i> 无权限</span>
					  <span data-toggle="tooltip" data-placement="left"   th:if="${QX.edit == '1' }"  class="btn btn-xs btn-info" th:onclick="'edit(\''+${item.id}+'\');'" ><i class="fa fa-edit" ></i> 查看详情</span>
					  <span data-toggle="tooltip" data-placement="right" th:if="${QX.del == '1' }" title="删除"  class="btn btn-xs btn-danger" th:onclick="'del(\''+${item.id}+'\');'" ><i class="fa fa-trash-o"></i> 删除</span>
                  </td>
                </tr>
                <tr th:unless="${QX.query == '1' }" >
                	<td colspan="7" rowspan="1" align="center">
						<h2>您无权限查看该页面</h2>
                	</td>
                </tr>
                </tbody>
                </table>
            </div>

			</div>
		 <ul style="float: right;" id='mypage' th:if="${page.pages > 1}" class="pagination"></ul>
</section>

<div class="modal fade" id="itemModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="modelHead">添加</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<input type="hidden" name="id" id="id" value="0"/>
						<input type="hidden" name="actionurl" value="/"/>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label  class="col-sm-5 control-label">名称</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" name="name" value="" id="name" placeholder="请输入币种名称">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label  class="col-sm-5 control-label">编码</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" name="code" value="" id="code" placeholder="请输入币种编码">
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label  class="col-sm-5 control-label">是否可充值</label>
									<div class="col-sm-7">
										<select id="isRecharge" class="form-control" >
											<option  value="1" >可以</option>
											<option  value="0" >不可以</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label  class="col-sm-5 control-label">是否可提现</label>
									<div class="col-sm-7">
										<select id="isWithd" class="form-control" >
											<option  value="1" >可以</option>
											<option  value="0" >不可以</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label  class="col-sm-5 control-label">原链币种</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" name="chainCoin" value="" id="chainCoin" placeholder="请输入原链币种">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label  class="col-sm-5 control-label">token</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" name="token" value="" id="token" placeholder="请输入token">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label  class="col-sm-5 control-label">小数点后位数</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" name="wei"  id="wei" placeholder="请输入小数点后位数">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label  class="col-sm-5 control-label">状态</label>
									<div class="col-sm-7">
										<select id="status" class="form-control" >
											<option  value="Y" >可用</option>
											<option  value="N" >不可用</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label  class="col-sm-5 control-label">是否真的区块链币种</label>
									<div class="col-sm-7">
										<select id="isReallyCoin" class="form-control" >
											<option  value="Y" >是</option>
											<option  value="N" >不是</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6"  style="display: none" id="addOrEditCreateTime">
								<div class="form-group">
									<label  class="col-sm-5 control-label">创建时间</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" name="createTime" value="" id="createTime" readonly="readonly" />
									</div>
								</div>
							</div>
							<div class="col-md-6"  style="display: none" id="addOrEditLang">
								<div class="form-group">
									<label  class="col-sm-5 control-label">版本</label>
									<div class="col-sm-7">
										<input type="text" class="form-control"  value="中文版本"  readonly="readonly" />
									</div>
								</div>
							</div>
						</div>

						<span id="addOrEdit" style="display: none">
								<br><br>

								<div class="row">
									<div class="form-group">
										<label  class="col-sm-2 control-label">版本信息</label>
										<div class="col-sm-10" id="htm">

										</div>
									</div>
								</div>


								<br><br>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label  class="col-sm-5 control-label">编辑版本</label>
											<div class="col-sm-7">
												<select class="form-control" name="banben"  id="banben" placeholder="语言版本" >
													<option value="-1" >请选择编辑版本</option>
													<option th:each="allLang:${allLang}" th:value="${allLang.lang_name}" th:text="${allLang.chinese_name}" ></option>
												</select>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label  class="col-sm-5 control-label">名称</label>
											<div class="col-sm-7">
												<input type="text" class="form-control" name="banbenName"  id="banbenName" placeholder="请输入名称">
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label  class="col-sm-5 control-label">是否启用</label>
											<div class="col-sm-7">
												<select id="banbenIsUser" class="form-control" >
													<option  value="" >请选择是否启用</option>
													<option  value="1" >启用</option>
													<option  value="2" >不启用</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</span>






					 </form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-success" id="submitBtn" >添加</button>
				</div>
			</div>
		</div>
	</div>

<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>	
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-paginator.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:inline="javascript">
	$(function(){
        var element = $('#mypage');
        options = {
            bootstrapMajorVersion:3, //对应的bootstrap版本
            currentPage: [[${page.pageNum }]], //当前页数
            numberOfPages:[[${page.pageSize }]], //每页的数量
            totalPages:[[${page.pages }]], //总页数，这里是用的EL表达式，获取从后台传过来的值
            itemTexts: function (type, page, current) {//设置显示的样式，默认是箭头
                switch (type) {
                    case "first":
                        return "首页";
                    case "prev":
                        return "上一页";
                    case "next":
                        return "下一页";
                    case "last":
                        return "末页";
                    case "page":
                        return page;
                }
            },
            //点击事件
            onPageClicked: function (event, originalEvent, type, page) {
                skipPage(page);
            }
        };
        element.bootstrapPaginator(options);

        
        $("#addItem").click(function(){
            $("input[name='id']").val("");
            $("input[name='actionurl']").val("/coinInfo/add");
            $("#modelHead").text("添加");
            $("#submitBtn").text("添加");
            setData("","","","","","","","","","","","","","");

            $("#addOrEdit").css('display','none');
            $("#addOrEditCreateTime").css('display','none');
            $("#addOrEditLang").css('display','block');

            $("#itemModal").modal("show");
        });

        //提交按钮
        $("#submitBtn").click(function(){
            var id = $("input[name='id']").val();
            var url = $("input[name='actionurl']").val();
            var id = $("#id").val();
            var name = $("#name").val();
            var code = $("#code").val();
            var chineseName = $("#chineseName").val();
            var chainCoin = $("#chainCoin").val();
            var token = $("#token").val();
            var wei = $("#wei").val();
            var status = $("#status").val();
            var isRecharge = $("#isRecharge").val();
            var isWithd = $("#isWithd").val();
            var isDeleted = $("#isDeleted").val();
            var isReallyCoin = $("#isReallyCoin").val();
            var createBy = $("#createBy").val();
            var createTime = $("#createTime").val();

            var banbenIsUser = $("#banbenIsUser").val();
            var banbenName = $("#banbenName").val();
            var banben = $("#banben").val();
            

            if(checkData(id ,name ,code ,chineseName ,chainCoin ,token ,wei ,status ,isDeleted ,isReallyCoin ,createBy ,createTime )){
                $.ajax({
                    type:"POST",
                    url:_ctx+url,
                    cache:false,
                    data:{isRecharge:isRecharge,isWithd:isWithd,banbenIsUser:banbenIsUser,banbenName:banbenName,banben:banben,id:id,name:name,code:code,chineseName:chineseName,chainCoin:chainCoin,token:token,wei:wei,status:status,isDeleted:isDeleted,isReallyCoin:isReallyCoin,createBy:createBy,createTime:createTime, time:new Date().getTime()},
                    dataType:"json",
                    success:function(data){
                        if(data.status == "200"){
                            window.location.href=window.location.href;
                        }else{
                            alert(data.message);
                            window.location.href=window.location.href;
                        }
                    }
                });
                $("#itemModal").modal("hide");
            }

        });



        //搜索
        $(".searcher").click(function(){
            skipPage("");
        });
	})
	
	
function setData(  id , name , code , chineseName , chainCoin , token , wei , status , isRecharge , isWithd , isDeleted , isReallyCoin , createBy , createTime ){
   	 $("#id").val(id);
   	 $("#name").val(name);
   	 $("#code").val(code);
   	 $("#chineseName").val(chineseName);
   	 $("#chainCoin").val(chainCoin);
   	 $("#token").val(token);
   	 $("#wei").val(wei);
   	 $("#status").val(status);
   	 $("#isRecharge").val(isRecharge);
   	 $("#isWithd").val(isWithd);
   	 $("#isDeleted").val(isDeleted);
   	 $("#isReallyCoin").val(isReallyCoin);
   	 $("#createBy").val(createBy);
   	 $("#createTime").val(timestampToTime(createTime));
}
//时间戳转化成时间
function timestampToTime(str){
if (str == null || str == ""){
	return null;
}
var oDate = new Date(str),
	oYear = oDate.getFullYear(),
	oMonth = oDate.getMonth()+1,
	oDay = oDate.getDate(),
	oHour = oDate.getHours(),
	oMin = oDate.getMinutes(),
	oSen = oDate.getSeconds(),
	oTime = oYear +'-'+ getzf(oMonth) +'-'+ getzf(oDay) +' '+ getzf(oHour) +':'+ getzf(oMin) +':'+getzf(oSen);//最后拼接时间
return oTime;
};
//补0操作
function getzf(num){
if(parseInt(num) < 10){
	num = '0'+num;
}
return num;
}
function skipPage(page){
    var keyword = $("#keyword").val();
    var url="/coinInfo/list";
    if(page != ""){
        url =url+ "/"+page+"?t=1";
    }else {
        url = url + "?t=1";
    }
    if(keyword != ""){
        url =url+"&keyword="+keyword;
    }
    window.location.href=_ctx+url;
}
//编辑商户
function edit(id){
    $("#modelHead").text("编辑");
    $("#submitBtn").text("编辑");
    $("input[name='id']").val(id);
    $("input[name='actionurl']").val("/coinInfo/edit");
    $.get(_ctx+"/coinInfo/detail",{t:new Date().getTime(),id:id},function(data){
        console.log("data:",data);
        if(data.status == "200"){
            var item = data.data.detail;
            var list = data.data.internaList;
            console.log("item:",item);
            console.log("list:",list);

setData( item.id , item.name , item.code , item.chinese_name , item.chain_coin , item.token , item.wei , item.status , item.is_recharge , item.is_withd , item.is_deleted , item.is_really_coin , item.create_by , item.create_time )
			//遍历国际化版本
			var htm = "";
            $.each(list,function(index){
                htm=htm+list[index].internaContent +'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+list[index].internaState+'<br>';
            });
            $("#htm").html(htm);

        }else{
            alert(data.message);
        }
    })
    $("#addOrEdit").css('display','block');
    $("#addOrEditCreateTime").css('display','block');
    $("#addOrEditLang").css('display','none');
    $("#itemModal").modal("show");
}
//删除
function del(id){
    if(confirm("您确定要删除这条记录吗？"))
        $.post(_ctx+"/coinInfo/del",{t:new Date().getTime(),id:id},function(data){
            if(data.status == "200"){
                window.location.href=window.location.href;
            }else{
                alert(data.message);
            }
        });
}

//校验
function checkData( id , name , code , chineseName , chainCoin , token , wei , status , isDeleted , isReallyCoin , createBy , createTime ){
    if(name == ""){
        alert("币种名称不能为空");
        $("input[name='name']").focus();
        return false;
    }
    if(code == ""){
        alert("币种编码不能为空");
        $("input[name='code']").focus();
        return false;
    }
    return true;
}
</script>
</body>
</html>
