
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="include/css-head :: css-head">
</head>
<body>
<!-- Content Header (Page header) -->
<section class="content-header">
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 众筹管理</a></li>
    <li class="active">众筹记录</li>
  </ol>
  <br/>
</section>

<!-- Main content -->
<section class="content">
	 <div class="box">
            <div class="box-header">
              <h3 class="box-title">众筹记录</h3>
              <br><br>
              <!--<button th:if="${QX.add == '1' && QX.query == '1' }" class="btn btn-success btn-sm" id="addItem"><i class="fa fa-plus"></i> &nbsp;&nbsp;添加</button>-->
				<div class="search">
					<div class="input-group" style="float: right;width: 300px;">
						<input type="text" class="form-control" id="keyword" th:value="${keyword}" placeholder="请输入用户编号">
						<span class="input-group-addon searcher"><i class="fa fa-search"></i> 搜索</span>
					</div>
				</div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <div class="table-responsive">
              <table id="menuList" class="table table-bordered table-striped">
                <thead>
	                <tr>
	                  <th>序号</th>
		                  <th>用户编号</th>
		                  <!--<th>用户手机</th>
		                  <th>用户邮箱</th>-->
		                  <th>众筹名称</th>
						  <th>认购币种</th>
						  <th>认购数量</th>
		                  <th>单价</th>
		                  <th>总价</th>
		                  <th>认购时间</th>
	                  <!--<th>操作</th>-->
	                </tr>
                </thead>
                <tbody>
                <tr th:if="${QX.query == '1' }" th:each="item,stat :${ coinDetail }" >
                  <td th:text="${stat.count}">1</td>
		                  <th th:text="${item.user_name }">众筹id</th>
		                  <!--<th th:text="${item.mobile }">用户手机</th>
		                  <th th:text="${item.mail }">用户邮箱</th>-->
					      <th th:text="${item.title }">名称</th>
					      <th th:text="${item.chinese_name }">认购币种</th>
					      <th th:text="${item.get_total }">认购数量</th>
		                  <th th:text="${item.price }">单价</th>
		                  <th th:text="${item.totalMoney }">总价</th>
		                  <th th:text="${item.create_time }">认购时间</th>
                  <!--<td>
                  	 <span th:unless="${QX.add == '1' || QX.del == '1' || QX.edit == '1' || QX.query == '1' }" ><i class="fa fa-lock"></i> 无权限</span>
                  	 <span data-toggle="tooltip" data-placement="left" title="修改" th:if="${QX.edit == '1' }" class="btn btn-xs btn-info" th:onclick="'edit(\''+${item.id}+'\');'"><i class="fa fa-edit"></i></span>
                  	 <span data-toggle="tooltip" data-placement="right" title="删除" th:if="${QX.del == '1' }" class="btn btn-xs btn-danger" th:onclick="'del(\''+${item.id}+'\');'"><i class="fa fa-trash-o"></i></span>
                  </td>-->
                </tr>
                <tr th:unless="${QX.query == '1' }" >
                	<td colspan="7" rowspan="1" align="center">
						<h2>您无权限查看该页面</h2>
                	</td>
                </tr>
                </tbody>
                </table>
            </div>

			</div>
		 <ul style="float: right;" id='mypage' th:if="${page.pages > 1}" class="pagination"></ul>
</section>

<div class="modal fade" id="itemModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="modelHead">添加</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<input type="hidden" name="id" id="id" value="0"/>
						<input type="hidden" name="actionurl" value="/"/>
						
						  <div class="form-group">
						    <label for="raiseId" class="col-sm-2 control-label">众筹id</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="raiseId" value="" id="raiseId" placeholder="请输入众筹id">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="consumeCoin" class="col-sm-2 control-label">消耗币种</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="consumeCoin" value="" id="consumeCoin" placeholder="请输入消耗币种">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="consumePrice" class="col-sm-2 control-label">消耗单价</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="consumePrice" value="" id="consumePrice" placeholder="请输入消耗单价">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="consumeTotal" class="col-sm-2 control-label">消耗数量</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="consumeTotal" value="" id="consumeTotal" placeholder="请输入消耗数量">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="getCoin" class="col-sm-2 control-label">获得币种</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="getCoin" value="" id="getCoin" placeholder="请输入获得币种">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="getPrice" class="col-sm-2 control-label">获得时单价</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="getPrice" value="" id="getPrice" placeholder="请输入获得时单价">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="getTotal" class="col-sm-2 control-label">获得数量</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="getTotal" value="" id="getTotal" placeholder="请输入获得数量">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="userId" class="col-sm-2 control-label">userId</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="userId" value="" id="userId" placeholder="请输入userId">
						    </div>
						  </div>
					 </form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-success" id="submitBtn" >添加</button>
				</div>
			</div>
		</div>
	</div>

<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>	
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-paginator.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:inline="javascript">
	$(function(){
        var element = $('#mypage');
        options = {
            bootstrapMajorVersion:3, //对应的bootstrap版本
            currentPage: [[${page.pageNum }]], //当前页数
            numberOfPages:[[${page.pageSize }]], //每页的数量
            totalPages:[[${page.pages }]], //总页数，这里是用的EL表达式，获取从后台传过来的值
            itemTexts: function (type, page, current) {//设置显示的样式，默认是箭头
                switch (type) {
                    case "first":
                        return "首页";
                    case "prev":
                        return "上一页";
                    case "next":
                        return "下一页";
                    case "last":
                        return "末页";
                    case "page":
                        return page;
                }
            },
            //点击事件
            onPageClicked: function (event, originalEvent, type, page) {
                skipPage(page);
            }
        };
        element.bootstrapPaginator(options);

        
        $("#addItem").click(function(){
            $("input[name='id']").val("");
            $("input[name='actionurl']").val("/coinDetail/add");
            $("#modelHead").text("添加");
            $("#submitBtn").text("添加");
            setData("","","","","","","","","","","","","","");
            $("#itemModal").modal("show");
        });

        //提交按钮
        $("#submitBtn").click(function(){
            var id = $("input[name='id']").val();
            var url = $("input[name='actionurl']").val();
            var id = $("#id").val();
            var raiseId = $("#raiseId").val();
            var consumeCoin = $("#consumeCoin").val();
            var consumePrice = $("#consumePrice").val();
            var consumeTotal = $("#consumeTotal").val();
            var getCoin = $("#getCoin").val();
            var getPrice = $("#getPrice").val();
            var getTotal = $("#getTotal").val();
            var userId = $("#userId").val();
            var isDeleted = $("#isDeleted").val();
            var createTime = $("#createTime").val();
            var createBy = $("#createBy").val();
            var modifyTime = $("#modifyTime").val();
            var modifyBy = $("#modifyBy").val();
            

            if(checkData(id ,raiseId ,consumeCoin ,consumePrice ,consumeTotal ,getCoin ,getPrice ,getTotal ,userId ,isDeleted ,createTime ,createBy ,modifyTime ,modifyBy )){
                $.ajax({
                    type:"POST",
                    url:_ctx+url,
                    cache:false,
                    data:{id:id,raiseId:raiseId,consumeCoin:consumeCoin,consumePrice:consumePrice,consumeTotal:consumeTotal,getCoin:getCoin,getPrice:getPrice,getTotal:getTotal,userId:userId,isDeleted:isDeleted,createTime:createTime,createBy:createBy,modifyTime:modifyTime,modifyBy:modifyBy, time:new Date().getTime()},
                    dataType:"json",
                    success:function(data){
                        if(data.status == "200"){
                            window.location.href=window.location.href;
                        }else{
                            alert(data.message);
                        }
                    }
                });
                $("#itemModal").modal("hide");
            }

        });



        //搜索
        $(".searcher").click(function(){
            skipPage("");
        });
	})
	
	
function setData(  id , raiseId , consumeCoin , consumePrice , consumeTotal , getCoin , getPrice , getTotal , userId , isDeleted , createTime , createBy , modifyTime , modifyBy ){
   	 $("#id").val(id);
   	 $("#raiseId").val(raiseId);
   	 $("#consumeCoin").val(consumeCoin);
   	 $("#consumePrice").val(consumePrice);
   	 $("#consumeTotal").val(consumeTotal);
   	 $("#getCoin").val(getCoin);
   	 $("#getPrice").val(getPrice);
   	 $("#getTotal").val(getTotal);
   	 $("#userId").val(userId);
   	 $("#isDeleted").val(isDeleted);
   	 $("#createTime").val(createTime);
   	 $("#createBy").val(createBy);
   	 $("#modifyTime").val(modifyTime);
   	 $("#modifyBy").val(modifyBy);
}

function skipPage(page){
    var keyword = $("#keyword").val();
    var url="/coinDetail/list";
    if(page != ""){
        url =url+ "/"+page+"?t=1";
    }else {
        url = url + "?t=1";
    }
    if(keyword != ""){
        url =url+"&keyword="+keyword;
    }
    window.location.href=_ctx+url;
}
//编辑商户
function edit(id){
    $("#modelHead").text("编辑");
    $("#submitBtn").text("编辑");
    $("input[name='id']").val(id);
    $("input[name='actionurl']").val("/coinDetail/edit");
    $.get(_ctx+"/coinDetail/detail",{t:new Date().getTime(),id:id},function(data){
        console.log("data:",data);
        if(data.status == "200"){
            var item = data.data;
            console.log("item:",item);
            setData( item.id , item.raise_id , item.consume_coin , item.consume_price , item.consume_total , item.get_coin , item.get_price , item.get_total , item.user_id , item.is_deleted , item.create_time , item.create_by , item.modify_time , item.modify_by )
        }else{
            alert(data.message);
        }
    })
    $("#itemModal").modal("show");
}
//删除
function del(id){
    if(confirm("您确定要删除这条记录吗？"))
        $.post(_ctx+"/coinDetail/del",{t:new Date().getTime(),id:id},function(data){
            if(data.status == "200"){
                window.location.href=window.location.href;
            }else{
                alert(data.message);
            }
        });
}

//校验
function checkData( id , raiseId , consumeCoin , consumePrice , consumeTotal , getCoin , getPrice , getTotal , userId , isDeleted , createTime , createBy , modifyTime , modifyBy ){
    if(id == ""){
        alert("id不能为空");
        $("input[name='id']").focus();
        return false;
    }
    if(raiseId == ""){
        alert("众筹id不能为空");
        $("input[name='raiseId']").focus();
        return false;
    }
    if(consumeCoin == ""){
        alert("消耗币种不能为空");
        $("input[name='consumeCoin']").focus();
        return false;
    }
    if(consumePrice == ""){
        alert("消耗单价不能为空");
        $("input[name='consumePrice']").focus();
        return false;
    }
    if(consumeTotal == ""){
        alert("消耗数量不能为空");
        $("input[name='consumeTotal']").focus();
        return false;
    }
    if(getCoin == ""){
        alert("获得币种不能为空");
        $("input[name='getCoin']").focus();
        return false;
    }
    if(getPrice == ""){
        alert("获得时单价不能为空");
        $("input[name='getPrice']").focus();
        return false;
    }
    if(getTotal == ""){
        alert("获得数量不能为空");
        $("input[name='getTotal']").focus();
        return false;
    }
    if(userId == ""){
        alert("userId不能为空");
        $("input[name='userId']").focus();
        return false;
    }
    if(isDeleted == ""){
        alert("isDeleted不能为空");
        $("input[name='isDeleted']").focus();
        return false;
    }
    if(createTime == ""){
        alert("createTime不能为空");
        $("input[name='createTime']").focus();
        return false;
    }
    if(createBy == ""){
        alert("createBy不能为空");
        $("input[name='createBy']").focus();
        return false;
    }
    if(modifyTime == ""){
        alert("modifyTime不能为空");
        $("input[name='modifyTime']").focus();
        return false;
    }
    if(modifyBy == ""){
        alert("modifyBy不能为空");
        $("input[name='modifyBy']").focus();
        return false;
    }
   
    return true;
}
</script>
</body>
</html>
