<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.admin.dao.tranHedging.TranHedgingDao">
	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
	    <![CDATA[
			id ,
			from_user_id ,
			to_user_id ,
			amount ,
			is_deleted ,
			create_by ,
			create_time ,
			modify_by ,
			modify_time 
	    ]]>
	</sql>

	  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="pm">
	    select 
	    <include refid="Base_Column_List" />
	    from tran_hedging 
	    where id = #{ id }
	  </select>
	  
       <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
	    update tran_hedging set is_deleted = 'Y'
	    where id = #{ id }
	  </update>
	  
	  <insert id="insert" parameterType="pm">
	    insert into tran_hedging (<include refid="Base_Column_List" />)
	    values (
	        	#{ id } ,
	        	#{ fromUserId } ,
	        	#{ toUserId } ,
	        	#{ amount } ,
	        	#{ isDeleted } ,
	        	#{ createBy } ,
	        	#{ createTime } ,
	        	#{ modifyBy } ,
	        	#{ modifyTime } 
	    )
  	  </insert>  
  
  <insert id="insertSelective" parameterType="pm">
    insert into tran_hedging
    <trim prefix="(" suffix=")" suffixOverrides=",">
	              <if test="id != null">
			        id ,
			      </if>
	              <if test="fromUserId != null">
			        from_user_id ,
			      </if>
	              <if test="toUserId != null">
			        to_user_id ,
			      </if>
	              <if test="amount != null">
			        amount ,
			      </if>
	              <if test="isDeleted != null">
			        is_deleted ,
			      </if>
	              <if test="createBy != null">
			        create_by ,
			      </if>
	              <if test="createTime != null">
			        create_time ,
			      </if>
	              <if test="modifyBy != null">
			        modify_by ,
			      </if>
	              <if test="modifyTime != null">
			        modify_time ,
			      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
	      <if test="id != null">
	        #{ id } ,
	      </if>
	      <if test="fromUserId != null">
	        #{ fromUserId } ,
	      </if>
	      <if test="toUserId != null">
	        #{ toUserId } ,
	      </if>
	      <if test="amount != null">
	        #{ amount } ,
	      </if>
	      <if test="isDeleted != null">
	        #{ isDeleted } ,
	      </if>
	      <if test="createBy != null">
	        #{ createBy } ,
	      </if>
	      <if test="createTime != null">
	        #{ createTime } ,
	      </if>
	      <if test="modifyBy != null">
	        #{ modifyBy } ,
	      </if>
	      <if test="modifyTime != null">
	        #{ modifyTime } ,
	      </if>
    </trim>
  </insert>
    
  
  <update id="updateByPrimaryKeySelective" parameterType="pm">
    update tran_hedging
    <set>
	      <if test="id != null">
	         id = #{ id } ,
	      </if>
	      <if test="fromUserId != null">
	         from_user_id = #{ fromUserId } ,
	      </if>
	      <if test="toUserId != null">
	         to_user_id = #{ toUserId } ,
	      </if>
	      <if test="amount != null">
	         amount = #{ amount } ,
	      </if>
	      <if test="isDeleted != null">
	         is_deleted = #{ isDeleted } ,
	      </if>
	      <if test="createBy != null">
	         create_by = #{ createBy } ,
	      </if>
	      <if test="createTime != null">
	         create_time = #{ createTime } ,
	      </if>
	      <if test="modifyBy != null">
	         modify_by = #{ modifyBy } ,
	      </if>
	      <if test="modifyTime != null">
	         modify_time = #{ modifyTime } ,
	      </if>
    </set>
    where id = #{ id }
   
  </update>
  
  <update id="updateByPrimaryKey" parameterType="pm">
    update tran_hedging
    set  
	        id = #{ id }  ,
	        from_user_id = #{ fromUserId }  ,
	        to_user_id = #{ toUserId }  ,
	        amount = #{ amount }  ,
	        is_deleted = #{ isDeleted }  ,
	        create_by = #{ createBy }  ,
	        create_time = #{ createTime }  ,
	        modify_by = #{ modifyBy }  ,
	        modify_time = #{ modifyTime }  
    where id = #{ id }
  </update> 
	
  <update id="deleteByIds" parameterType="java.lang.String">
	update tran_hedging set is_deleted = 'Y'
    where id in
   	<foreach item="ids" collection="array" open="(" separator="," close=")">
#{ids}	</foreach>
  </update>
   
   <!--  query begin -->
	  <select id="getByCondition" resultType="pm" parameterType="pm" >
	    select <include refid="Base_Column_List" />
	   		from tran_hedging
	   	  <where>  
	        <if test="id != null">
		        and id = #{ id }
	        </if>
	        <if test="fromUserId != null">
		        and from_user_id = #{ fromUserId }
	        </if>
	        <if test="toUserId != null">
		        and to_user_id = #{ toUserId }
	        </if>
	        <if test="amount != null">
		        and amount = #{ amount }
	        </if>
	        <if test="isDeleted != null">
		        and is_deleted = #{ isDeleted }
	        </if>
	        <if test="createBy != null">
		        and create_by = #{ createBy }
	        </if>
	        <if test="createTime != null">
		        and create_time = #{ createTime }
	        </if>
	        <if test="modifyBy != null">
		        and modify_by = #{ modifyBy }
	        </if>
	        <if test="modifyTime != null">
		        and modify_time = #{ modifyTime }
	        </if>
	    </where> 
	  </select>
	  <select id="getByConditionList" resultType="pm" parameterType="pm" >
	    select <include refid="Base_Column_List" />
	   		from tran_hedging
	   	  <where>  
	        <if test="id != null">
		        and id = #{ id }
	        </if>
	        <if test="fromUserId != null">
		        and from_user_id = #{ fromUserId }
	        </if>
	        <if test="toUserId != null">
		        and to_user_id = #{ toUserId }
	        </if>
	        <if test="amount != null">
		        and amount = #{ amount }
	        </if>
	        <if test="isDeleted != null">
		        and is_deleted = #{ isDeleted }
	        </if>
	        <if test="createBy != null">
		        and create_by = #{ createBy }
	        </if>
	        <if test="createTime != null">
		        and create_time = #{ createTime }
	        </if>
	        <if test="modifyBy != null">
		        and modify_by = #{ modifyBy }
	        </if>
	        <if test="modifyTime != null">
		        and modify_time = #{ modifyTime }
	        </if>
	    </where>
		  order by create_time desc
	  </select>

	<select id="getTranHedgingList" resultType="pm" parameterType="pm" >
		SELECT
			a.id,
			a.amount,
			b.user_name as fromUserName,
			b.`name` as fromName,
			c.user_name as toUserName,
			c.`name` as toName,
			a.create_time
		from tran_hedging a
		left JOIN usr_user b ON a.from_user_id=b.id
		LEFT JOIN usr_user c ON a.to_user_id=c.id
		<where>
			<if test="isDeleted != null">
				and a.is_deleted = #{ isDeleted }
			</if>
			<if test="keyword != null">
				and (
				b.user_name LIKE CONCAT(CONCAT('%', #{keyword}), '%')
				or
				b.`name` LIKE CONCAT(CONCAT('%', #{keyword}), '%')
				or
				c.user_name LIKE CONCAT(CONCAT('%', #{keyword}), '%')
				or
				c.`name` LIKE CONCAT(CONCAT('%', #{keyword}), '%')
				)
			</if>
		</where>
		order by a.create_time desc
	</select>
	  
	  <select id="getByConditionCount" parameterType="pm" resultType="long" >
	    select COUNT(1)
	   		from tran_hedging
	   	  <where>  
	        <if test="id != null">
		        and id = #{ id }
	        </if>
	        <if test="fromUserId != null">
		        and from_user_id = #{ fromUserId }
	        </if>
	        <if test="toUserId != null">
		        and to_user_id = #{ toUserId }
	        </if>
	        <if test="amount != null">
		        and amount = #{ amount }
	        </if>
	        <if test="isDeleted != null">
		        and is_deleted = #{ isDeleted }
	        </if>
	        <if test="createBy != null">
		        and create_by = #{ createBy }
	        </if>
	        <if test="createTime != null">
		        and create_time = #{ createTime }
	        </if>
	        <if test="modifyBy != null">
		        and modify_by = #{ modifyBy }
	        </if>
	        <if test="modifyTime != null">
		        and modify_time = #{ modifyTime }
	        </if>
	    </where> 
	  </select>
	
</mapper>

